@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    overflow: hidden;
}

button, input {
  text-align: inherit;
}

.shadow-up {
  box-shadow: 0px -3px 5px #0000005f;
}

.btn {
  @apply border-2 border-stone-50 px-4 py-2 rounded-full flex gap-1 items-center text-center justify-center;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
}