@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(0, 50, 130);
    overflow: hidden;
}

button, input {
  text-align: inherit;
}

.btn {
  @apply border-2 border-white px-4 py-2 rounded-full flex 
  gap-1 items-center text-center justify-center font-medium;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
}